// Dark
primaryDark = #141414
accentDark = #ffffff

// Light
primaryLight = #ffffff
accentLight = #141414

// Colors
themeColor = #ff0a16
main = #333333
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333

// Resolution
cut = 37.5rem
max = 3840px // 4K screen width

// Margins
rowMargin  = 10px
itemMargin = 15px

// Sizes
itemMinWidth = 300px
